<style>
    *{
        padding:0; margin:0;
        
    }
    .nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(171, 85, 192);
        width: 100%;;
    }
    .nav li{
        list-style: none;
        color:white;
        padding: 20px;
        font-weight: lighter;
        font-size: x-large;
        cursor: pointer;
    }
    .nav li a{
        text-decoration: none;
        color:  white;
    }


</style>


    <div class="nav"> 
        <li>
            <a href="/"> Home </a>
        </li>
        <li>
            <a href="/user/signIn"> SignIn </a> 
        </li>
        <li>
            <a href="/user/signUp"> SignUp </a>
        </li>
        <li>
            <a href="/user/profile"> Profile </a>
        </li>
        <li>
            <a href="/user/signOut"> SignOut </a>
        </li>
        
    </div>