
<style>
    *{
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        
    }
    .body{
        background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    }
</style>
    <%- include('_header'); -%>
    <div class="body"><%- body %></div>

