<form action="/user/createSession" method="post">
    <label for="useremail">Username:</label>
    <input type="text" id="useremail" name="userEmailId" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="userPassword" required>

    <button type="submit">Sign In</button>
</form>